body {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 21px;
	font-weight: 300;
	margin: 0;
}

/* layout */
header,
section {
	padding: 100px 0;
}

.inverse {
	color: #fff;
	background: #252525;
}

.container {
	width: 570px;
	margin: 0 auto;
}

h1,
h2,
.small-text {
	margin-top: 0;
}

h3,
p {
	margin-bottom: 0;
}

/* typography */
h1,
h2 {
	font-weight: 300;
}

h1,
h2 .bold-text {
	font-size: 60px;
}

h2 {
	font-size: 42px;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	padding: 20px 0;
	margin-bottom: 20px;
}

h3 {
	font-size: 36px;
}

.bold-text {
	display: block;
}

h1 .bold-text {
	font-size: 80px;
}

.small-text {
	font-size: 16px;
}

.bold-text,
.name,
time,
a {
	color: #99d930;
}

h3,
.bold-text,
a {
	font-weight: 900;
}

/* link */
a:hover,
a:focus {
	color: #131313;
}

/* button */
.btn {
	text-decoration: none;
	background: #99d930;
	color: #252525;
	padding: 10px 25px;
	display: inline-block;
	margin-top: 25px;
}

.about-me .btn:hover,
.about-me .btn:focus {
	background: #252525;
	color: #fff;
}

.articles .btn:hover,
.articles .btn:focus {
	background: #fff;
	color: #252525;
}
